@import "../../assets/styles/_vars";

.taskListContainer {
  height: 100%;
  display: flex;
  justify-content: space-between;
  background-color: transparent;
  padding: 2.5rem 0;
  width: 100vw;
}

.taskList {
  width: 50vw;
  background-color: transparent;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
}
