@import "../../assets/styles/_vars";

@keyframes diplayForm {
  0% {
    top: -265px;
    opacity: 0;
  }
  50% {
    top: 50vh;
    opacity: 1;
  }
  100% {
    top: 50vh;
    opacity: 1;
  }
}
@keyframes diplayFormTask {
  0% {
    top: -265px;
    opacity: 0;
  }
  50% {
    top: 152px;
    opacity: 1;
  }
  100% {
    top: 152px;
    opacity: 1;
  }
}

.formContainer {
  transform: translateX(-50%) translateY(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  animation: diplayForm 2s ease-out forwards;
  left: 50% !important;
}

.formContainerTask {
  transform: translateX(-50%);
  left: 77.5% !important;
  animation: diplayFormTask 2s ease-out forwards;
  height: 262.4px;
  form {
    width: 40vw;
  }
}

.formContainer,
.formContainerTask {
  top: -265px;
  position: fixed;
  opacity: 0;
  z-index: 3;

  form {
    background-color: #000;
    padding: 3rem 0;
    border: 2px solid $primary-color;
    @include display-flex-center();
    flex-direction: column;
    gap: 2rem;
    border-radius: 1rem;
    box-shadow: 0 0 50px 10px $primary-color;

    .inputContainer {
      @include display-flex-center();
      justify-content: space-between;

      label {
        color: $primary-color;
        font-weight: bold;
        width: 6rem;
      }

      input {
        flex-grow: 1;
        text-align: center !important;
        &::placeholder {
          text-align: center !important;
        }
      }
    }

    .buttonsContainer {
      @include display-flex-center();
      width: 100%;
      justify-content: space-evenly;

      button {
        width: 75px;
      }
    }
  }
}
