@import "../../assets/styles/_vars";

@keyframes diplayForm {
  0% {
    top: -265px;
    opacity: 0;
  }
  50% {
    top: 50vh;
    opacity: 1;
  }
  100% {
    top: 50vh;
    opacity: 1;
  }
}
@keyframes diplayFormTask {
  0% {
    top: -265px;
    opacity: 0;
  }
  50% {
    top: 132px;
    opacity: 1;
  }
  100% {
    top: 132px;
    opacity: 1;
  }
}
@keyframes neon {
  0% {
    text-shadow: 0 0 3px $neon-white, 0 0 6px $neon-white,
      0 0 10px $secondary-color, 0 0 15px $secondary-color,
      0 0 20px $primary-color, 0 0 25px $primary-color, 0 0 30px $tertiary-color;
    opacity: 1;
  }

  50% {
    text-shadow: 0 0 2px $neon-purple, 0 0 4px $neon-purple,
      0 0 8px $secondary-color, 0 0 12px $secondary-color;
    opacity: 0.5;
  }

  100% {
    text-shadow: 0 0 3px $neon-white, 0 0 6px $neon-white,
      0 0 10px $secondary-color, 0 0 15px $secondary-color,
      0 0 20px $primary-color, 0 0 25px $primary-color, 0 0 30px $tertiary-color;
    opacity: 1;
  }
}

.formContainer {
  transform: translateX(-50%) translateY(-50%);
  animation: diplayForm 2s ease-out forwards;
  left: 50% !important;
}

.formContainerTask {
  width: 25vw;
  transform: translateX(-50%);
  left: 85% !important;
  animation: diplayFormTask 2s ease-out forwards;
  form {
    h3 {
      color: $primary-color;
      font-size: 1.5rem;
      letter-spacing: 0.15rem;
      font-weight: bold;
      font-family: "Great Vibes", cursive;
      margin-top: 0.25rem;
      animation: neon 1.5s infinite alternate;
    }
  }
}

.formContainer,
.formContainerTask {
  position: fixed;
  top: -265px;
  z-index: 1;
  opacity: 0;

  form {
    @include display-flex-center();
    flex-direction: column;
    gap: 1.5rem;
    z-index: 1;
    padding: 1.5rem;
    background-color: #000;
    box-shadow: 0 0 10px 5px $primary-color;
    border: 2px solid $primary-color;
    border-radius: 1rem;

    .buttonsContainer {
      @include display-flex-center();
      width: 100%;
      gap: 1rem;
    }
  }
}
