@import "../../assets/styles/_vars";

@mixin taskDefault($fd, $c, $bgc, $bsc) {
  @include display-flex-center();
  flex-direction: $fd;
  color: $c;
  background-color: $bgc;
  box-shadow: 0 0 10px 5px $bsc;

  list-style: none;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 1rem;
  width: 100%;
  min-width: 50vw;
  max-width: 1000px;
  &:hover {
    transition: 1000ms;
    box-shadow: 0 0 30px 20px $bsc;
    background-color: #000000df;
    color: $primary-color;
  }
}

.task {
  @include taskDefault(column, $primary-color, #000000df, $primary-color);
  transition: 1000ms;
}

.taskCompleted {
  @include taskDefault(column, $secondary-color, #00000044, $secondary-color);
  transition: 1000ms;

  h3,
  p,
  span {
    color: $secondary-color;
    border-color: $secondary-color;
    transition: 1000ms;
  }

  .taskBody {
    display: none;
  }

  &:hover {
    .taskBody {
      display: grid;
    }
  }
}

.taskHeader {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;

  h3 {
    justify-self: center;
    font-size: 1.5rem;
    align-self: center;
    font-weight: bold;

    &:hover {
      cursor: pointer;
    }
  }
  input[type="checkbox"] {
    align-self: center;
    justify-self: flex-start;
    -webkit-appearance: none;
    appearance: none;
    background-color: #ffffff33;

    font: inherit;
    color: $primary-color;
    width: 1rem;
    height: 1rem;
    border: 2px solid currentColor;
    border-radius: 0.2rem;
    cursor: pointer;
  }

  input[type="checkbox"]:checked {
    color: $secondary-color;
    background-color: $secondary-color;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
  }
  button {
    justify-self: right;
  }
}

.taskBody {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  height: 100%;
  .left {
    justify-self: left;
    display: flex;
    flex-direction: column;
    h4 {
      font-weight: bold;
      text-align: center;
      margin-bottom: 0.5rem;
    }
    div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 1rem;
      align-items: baseline;
      p {
        font-weight: bold;
        color: $secondary-color;
      }
      span {
        color: $tertiary-color;
        font-size: 0.8rem;
      }
    }
  }
  .center {
    justify-self: center;
    text-align: justify;
  }
  .right {
    justify-self: right;
    display: flex;
    align-items: end;
    flex-direction: column;
    gap: 1rem;
  }
}
