@import "../../assets/styles/_vars";

.inputContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 0.5rem;
  // justify-content: space-between;
  // width: 100%;
  // padding: 0 5rem;

  label {
    color: $primary-color;
    font-weight: bold;
    // width: 6rem;
  }

  input {
    // flex-grow: 1;
  }
}
