@import '../../assets/styles/_vars';


@mixin taskDefault($fd, $c, $bgc, $bsc) {
  @include display-flex-center();
  flex-direction: $fd;
  color: $c;
  background-color: $bgc;
  box-shadow: 0 0 10px 5px $bsc;

  list-style: none;
  border-radius: 1rem;
  padding: 1.5rem;
  gap: 2rem;

  width: 100%;
  height: 100%;

  margin: 0.5rem;
}

.task {
  @include taskDefault(column, $primary-color, #000000cc, $primary-color);
};

.taskCompleted {
  @include taskDefault(column, #000, #ffffff66, $secondary-color);
};

.taskHeader {
  @include display-flex-center();
  width: 100%;
  flex-direction: column;
  gap: 1.5rem;

  h3 {
    font-size: 3rem;
    font-weight: bold;
  };

  
  
};

.taskBody {
  @include display-flex-center();
  flex-direction: column;
  gap: 1.5rem;
  span {
    font-weight: bold;
    font-size: 2rem;
  };
  p {
    font-size: 2rem;
  }
};