@import '../../assets/styles/_vars';

.container {
  background-color: $transparent-background-color;
  padding: 5rem;
  border-radius: 2rem;
  font-size: 2rem;
  text-align: center;
  color: $tertiary-color;
  @include display-flex-center();
  flex-direction: column;
  gap: 2rem;
}