@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Noto+Color+Emoji&display=swap");

@import "./_vars";

#root {
  display: flex;
  flex-direction: column;
}

body {
  font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
  background-image: url("../img/background-image.jpg");
  background-size: cover;
  background-position: bottom;
  background-attachment: fixed;
}

main {
  background-color: transparent;
  position: relative;
  top: 5.2rem;
  flex: 1 1 (100vh - 20vh);
  padding: 2rem 2rem 3rem 2rem;
}

a {
  color: $primary-color;
  text-decoration: none;
  transition: 1s;
}

a:hover {
  color: $secondary-color;
  transition: 0.5s;
}

button {
  box-sizing: border-box;
  font-size: 1rem;
  font-weight: bold;
  white-space: nowrap;
  height: 2.1rem;
  width: 75px;
  padding: 0.5rem;
  border-radius: 0.5rem;
  background-color: #222222;
  border: 1px solid $primary-color;
  color: $primary-color;
  @include display-flex-center();
  &:hover {
    cursor: pointer;
    box-shadow: 0 0 10px $primary-color;
  }
  &:active,
  &:focus-visible {
    background-color: #666;
  }
}

.button {
  border: 1px solid $secondary-color;
  color: $secondary-color;
  &:hover {
    box-shadow: 0 0 10px $secondary-color;
  }
}

.secondaryButton {
  color: $tertiary-color;
  border-color: $tertiary-color;
  &:hover {
    box-shadow: 0 0 10px $tertiary-color;
  }
}

input[type="text"],
input[type="password"] {
  font-weight: bold;

  background-color: transparent;
  color: $tertiary-color;
  height: 2.1rem;
  border: none;
  border-bottom: 1px solid $primary-color;
  transition: border-color 0.3s ease;
  padding: 0 0.5rem;
  transition: 1000ms;
  // text-align: center !important;

  &::placeholder {
    // text-align: center !important;
    color: $primary-color;
    filter: opacity(0.5);
    transition: opacity 1s ease;
    font-weight: bold;

  }

  &:focus::placeholder {

    opacity: 0;
  }
  caret-color: $primary-color;
}

input[type="text"]:focus-visible,
input[type="password"]:focus-visible {
  color: $secondary-color;
  transition: 1000ms;
  outline-offset: 0px;
  outline: none;
  background-color: transparent;
  border-color: $secondary-color;
}
